.Game:nth-child(odd) {
    background: #ededed;
    
}

.Game:nth-child(even) {
    background: #fff;
    
}

.Game {
    border:1px solid #dedcdc;
    display: flex;
    padding: 5px 20px;
    margin: 5px;
    justify-content: space-between;
    align-items: center;   
}

a {
    text-decoration:none;
    color: #000;
    display: block;
    width: 100%;
}

a:hover {
    text-decoration: underline;
}

.externalLink {
    width: auto;
    border-left: 2px solid gray;
    padding-left: 20px;
    white-space: nowrap;
}

